.sidebar_option {
  display: flex;
  align-items: center;
  color: gray;
  height: 40px;
  cursor: pointer;
}

.sidebar_option:hover,
.MuiSvgIcon-root:hover {
  color: var(--music-color) !important;
  transition: color 200ms ease-out;
}

.MuiSvgIcon-root {
  color: var(--music-background-color);
  padding-right: 10px;
  padding-left: 10px;
}

.sidebar_option > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.sidebar_option > p:hover {
  color: var(--music-background-color);
  transition: color 200ms ease-out;
}
