.songs {
  z-index: -1;
  width: 100%;
}

.songs_icons {
  display: flex;
  align-items: center;
}

.songs_icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.play_button {
  font-size: 60px !important;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--music-color) !important;
  cursor: pointer;
}

.play_button:hover {
  color: var(--music-background-color) !important;
  transition: transform 100ms ease-in;
  transform: scale(1.08);
}

.songs > hr {
  margin: 0px 20px;
  margin-bottom: 5px;
  border: 1px solid darkgray;
}

.table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 100px;
}

.sticky_table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 100px;
  background-color: rgb(50, 50, 50);
  transition: background-color 200ms ease-in-out;
  z-index: 100;
  margin-left: -5px;
}

.sticky_table > .hash {
  margin-left: 40px;
}
.hash {
  margin-left: 35px;
  margin-right: 45px;
}

.title {
  margin-right: auto;
}

.duration {
  margin-right: 45px;
}
