.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_left {
  background-color: white;
  color: gray;
  border-radius: 30px;
  display: flex;
  flex: 0.5;
  align-items: center;
  padding: 10px;
  min-width: 80px;
}

.header_left:hover {
  color: var(--music-color);
}

.header_left > input {
  border: none;
  width: 100%;
  outline: none;
}

.header_left > input:active,
input:focus {
  border-color: transparent;
  border-bottom: 2px solid var(--music-color);
}

.header_right {
  display: flex;
  align-items: center;
  transition: transform 200ms;
}

.header_right > h4 {
  margin-left: 10px;
}

.header_right:hover {
  transform: scale(1.08);
}
