.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 5vh;
  width: 100%;
  background-color: rgb(23, 23, 23);
  padding: 20px;
}

.footer_left {
  display: flex;
  align-items: center;
  flex: 0.3;
  color: var(--music-background-color);
}
.progress {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  justify-content: center;
  padding: 20px;
}

.slider {
  display: flex;
  align-items: center;
}
.song_length {
  font-size: 10px;
  color: white;
  margin-left: 5px;
}
.start_song {
  font-size: 10px;
  color: white;
  margin-right: 5px;
}

.footer_center {
  color: var(--music-background-color);
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.progress * .MuiSlider-root {
  width: 90%;
}

.progress * .MuiSlider-colorPrimary {
  color: var(--music-background-color) !important;
}

.progress * .MuiSlider-colorPrimary:hover {
  color: var(--music-color) !important;
}

.MuiSlider-rail {
  color: #3f51b5 !important;
}

.progress * .MuiSlider-thumb {
  display: none;
}

/* .footer_right * .MuiSlider-thumb {
  border: 2px solid var(--music-color) !important ;
  background-color: #fff;
} */

.PrivateValueLabel-open-2 {
  color: rgb(40, 40, 40) !important;
}

.shuffle_on {
  color: var(--music-color) !important;
}

.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--music-background-color);
  cursor: pointer;
}

.MuiGrid-container {
  align-items: center;
}

.footer_volUp {
  margin-right: 40px;
  margin-left: 5px;
}

.footer_albumLogo {
  object-fit: contain;
  height: 60px;
  width: 60px;
  margin-right: 20px;
  transition: transform 200ms ease-in-out;
}

.footer_albumLogo:hover {
  transform: scale(1.25) !important;
}

.footer_songInfo > h5 {
  margin-bottom: 5px;
}

.footer_songInfo > p {
  font-size: 10px;
}

.footer_shuffle,
.footer_prev,
.footer_play,
.footer_next,
.footer_queue,
.footer_volDown,
.footer_volUp {
  transition: transform 200ms ease-in-out;
}

.footer_shuffle:hover {
  /* color: var(--music-color); */
  transform: scale(1.25) !important;
}

.footer_prev:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_play:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_next:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_repeat:hover {
  /* color: var(--music-color); */
  transform: scale(1.25) !important;
}

.footer_queue:hover {
  color: var(--music-color) !important;
  transform: scale(1.25) !important;
}

.footer_volDown:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_volUp:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_right * .MuiSlider-root {
  color: var(--music-color) !important;
}

.none {
  color: gray !important;
}

.no_song {
  opacity: 0.5;
  color: gray !important;
}

.no_volume {
  opacity: 0.5;
  color: gray !important;
}

.no_volume:hover {
  color: var(--music-color) !important;
  opacity: 100%;
}

.repeat_true {
  color: var(--music-color) !important;
}
