.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 5vh;
  width: 100%;
  background-color: rgb(23, 23, 23);
  padding: 20px;
}

.footer_left {
  display: flex;
  align-items: center;
  flex: 0.3;
  color: var(--music-background-color);
  max-width: 300px;
}

.footer_center {
  flex: 0.4;
  padding: 0 100px;
  color: var(--music-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  cursor: pointer;
}

.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 50px;
  color: var(--music-background-color);
  cursor: pointer;
}

.footer_albumLogo {
  object-fit: contain;
  height: 60px;
  width: 60px;
  margin-right: 20px;
  transition: transform 200ms ease-in-out;
}

.footer_albumLogo:hover {
  transform: scale(1.25) !important;
}

.footer_songInfo > h5 {
  margin-bottom: 5px;
}

.footer_songInfo > p {
  font-size: 10px;
}

.footer_shuffle,
.footer_prev,
.footer_play,
.footer_next,
.footer_queue,
.footer_volDown,
.footer_volUp {
  transition: transform 200ms ease-in-out;
}

.footer_shuffle:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_prev:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_play:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_next:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_repeat:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_queue:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_volDown:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_volUp:hover {
  color: var(--music-color);
  transform: scale(1.25) !important;
}

.footer_right * .MuiSlider-root {
  color: var(--music-color) !important;
}

.none {
  color: darkgray;
}

.no_song {
  opacity: 50%;
}
