.banner {
  display: flex;
  align-items: flex-end;
  padding: 30px;
}

.banner_text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.banner_text > h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.banner_text > p {
  font-size: 14px;
  margin-bottom: 5px;
}
.showing_offset {
  font-size: 12px;
  margin: 2px 0px;
}

.banner_img {
  height: 20vh;
  max-height: 200px;
  border-radius: 3px;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.625);
}

.banner_small > small {
  font-size: 12px;
}

.banner_small > strong {
  font-weight: 600;
}

.arrow_icons {
  display: flex;
  margin-top: 5px;
}

.last50:hover {
  color: var(--music-color) !important;
  cursor: pointer;
  transition: trasform 200ms ease-in-out;
  transform: scale(1.08);
}

.next50 {
  margin-right: 5px;
}

.next50:hover {
  color: var(--music-color) !important;
  cursor: pointer;
  transition: trasform 200ms ease-in-out;
  transform: scale(1.08);
}

.beginning {
  opacity: 0.5;
  color: darkgray !important;
}
