.banner {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.banner_text {
  flex: 1;
}

.banner_text > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.banner_text > p {
  font-size: 14px;
  margin-bottom: 5px;
}

.banner > img {
  height: 20vh;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.625);
}

.banner_small > small {
  font-size: 14px;
}

.banner_small > strong {
  font-weight: 600;
}
.arrow_icons {
  display: flex;
  margin: 0px 5px;
}

.last50:hover {
  color: var(--music-color) !important;
  cursor: pointer;
  transition: trasform 200ms ease-in-out;
  transform: scale(1.08);
}

.next50 {
  margin-right: 5px;
}

.next50:hover {
  color: var(--music-color) !important;
  cursor: pointer;
  transition: trasform 200ms ease-in-out;
  transform: scale(1.08);
}

.beginning {
  opacity: 50%;
  color: darkgray !important;
}
